.main-panel {
  display: flex;
  flex-direction: column;
  gap : 10px;
  justify-content: center;
  margin-left: 33%;
}

.time-pick-panel {
  display: flex;
  flex-direction: row;

  label {
    text-align: center;
    width: 100px;
  }

  input {
    width: 50px;
  }
}

.button-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 400px;
  padding-top: 10px;

  .time-check {
    background-color: lightgreen;
  }

  .time-reset {
    background-color: lightblue;
  }
}